h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  margin-top: 20px;
}
#para{        
  margin: 0 300px 20px 300px;
  text-align: justify;
  font-size: 20px;
}

/* #para p{
  margin-bottom: 20px;
} */